{% extends "_base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" crossorigin="anonymous"> -->
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock style %}
{% block content %}
<header>
  <nav class="navbar fixed-top flex-md-nowrap p-0">
    <span class="navbar-brand col-sm-3 col-md-2 mr-0">A S T R I D</span>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'dashboard:logout' %}"><i class="fas fa-sign-out-alt"></i> Sign out</a>
      </li>
    </ul>
  </nav>
</header>

<main role="main" class="container-fluid">
<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-md-2">
      <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar"> -->
      <nav class="sidebar">
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:welcome' %}">
                <i class="fas fa-table"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:agreements' %}">
                <i class="fas fa-award"></i>
                Service-level agreements
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:services' %}">
                <i class="fas fa-bezier-curve"></i>
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:monitoring' %}">
                <i class="fas fa-chart-bar"></i>
                Monitoring
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-user"></i>
                User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:logs' %}">
                <i class="fas fa-clipboard-list"></i>
                Logs
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Help</span>
            <!-- <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
            </a> -->
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fab fa-readme"></i>
                Upload service description
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fab fa-readme"></i>
                Security enrichment
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col ml-2 mt-2">
    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
    {% block main %}
    {% endblock main %}
    </div>
    <!-- </main> -->
  <!-- </div> -->
  </div>
</main>
{% block footer %}
<!-- <div id="footer" class="row"> -->
  <!-- <footer class="pt-4 my-md-5 pt-md-5 border-top"> -->
  <!-- <footer class="col-md-9 ml-sm-auto col-lg-10 border-top fixed-bottom"> -->
<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="{% static 'dashboard/img/astrid-logo.png' %}" alt="">
      <small class="d-block mb-3 text-muted">&copy; 2018-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Security enrichment</a></li>
        <li><a class="text-muted" href="#">Service deployment</a></li>
        <li><a class="text-muted" href="#">ASTRID developers</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Project</a></li>
        <li><a class="text-muted" href="#">Papers</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>
<!-- </div> -->
{% endblock footer %}
{% endblock content%}
{% block script %}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
{% endblock %}
