{% extends "dashboard/_dashboard.html" %}
{% load static %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Security enrichment pipeline editor</h2>
</div>
<div class = "row">
  <h2 class="col">{{ algorithm.name }}</h2>
</div>
<!-- <div class="row">
  <p class="col"><i class="fas fa-info-circle"></i> Click to add a new ASTRID Agent</p>
</div> -->
<form action="" method="POST">
{% csrf_token %}
<div class="row">
  <div class="col-4">
    <p>Algorithm: {{ algorithm.name }}</p>
    <p>Partner: {{ algorithm.partner }}</p>
    <p>Id: {{ algorithm.algorithm_id }}</p>
  </div>
  <div class="col">
      <p>Configuration</p>
      {{ form.as_p }}
  </div>
</div>
<div class="row mb-5">
  <div class="col-4">
    <button id="saveAlgorithm" type="submit" class="btn btn-danger">Save</button>
  </div>
</div>
</form>

<!-- {% csrf_token %} -->
{% endblock %}
{% block customjs %}
{% endblock %}