{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div>
    <form action="/your-name/" method="post">
    {% csrf_token %}
    <label class="btn btn-default">
        Browse <input type="file" hidden>
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
  </div>
</main>
{% endblock %}
