{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block main %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Welcome!</h1>
<p class="lead">What you can do</p>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="{% static 'dashboard/img/cloud-upload-alt-solid.svg' %}" class="card-img-top" alt="" style="height:60px">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link" href="{% url 'dashboard:index' %}">Upload service description</a></h5>
        <p class="card-text">Upload your service description file (TOSCA, Docker-Compose <i class="fab fa-docker"></i>)</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
    <div class="card">
      <img src="{% static 'dashboard/img/bezier-curve-solid.svg' %}" class="card-img-top" alt="" style="height:60px">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link" href="{% url 'dashboard:index' %}">Apply security enrichment</a></h5>
        <p class="card-text">Select security enrichments according to your SAL</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
    <div class="card">
      <img src="{% static 'dashboard/img/cogs-solid.svg' %}" class="card-img-top" alt="" style="height:60px">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link" href="{% url 'dashboard:index' %}">Deploy secured service</a></h5>
        <p class="card-text">Deploy your secured service with supported service orchestrators</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
    <div class="card">
      <img src="{% static 'dashboard/img/chart-bar-solid.svg' %}" class="card-img-top" alt="" style="height:60px">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link" href="{% url 'dashboard:index' %}">Monitor service</a></h5>
        <p class="card-text">Monitoring, alerting, trending (MAT), analytics of your secured services</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
