{% extends "dashboard/_dashboard.html" %}
{% load static %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Monitor service deployments</h2>
</div>

{% if service_list %}
<div class="table-responsive">
  <p>Click table entry to show monitoring dashbord</<p>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>File</th>
        <th>Modified</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for service in service_list %}
      <tr onclick="displayKibanaDashboard('{{ service.id | slugify }}')">
        <td>{{ service.id }}</td>
        <td>{{ service.service_name}}</td>
        <td>{{ service.service_file}}</td>
        <td>{{ service.last_modified}}</td>
        <td>{{ service.owner}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% for service in service_list %}
{% if service.kibana_dashboard %}
<div id="{{ service.id | slugify }}" class="embed-responsive embed-responsive-16by9 mt-2" style="display: none">
<iframe class="embed-responsive-item" src="{{ service.kibana_dashboard }}"></iframe>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block customjs %}
<script>
  function displayKibanaDashboard(id) {
    var elems = document.getElementsByClassName('embed-responsive');
    for (var i = 0, len = elems.length; i < len; i++){
      elems[i].style.display = "none";
    }

    var x = document.getElementById(id);
    var f = document.getElementById("footer");

    x.style.display = "block";
    f.style.display = "none";
  }
</script>
{% endblock %}
