{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Upload & edit service descriptions</h2>
</div>

<div class="row mt-5 mb-5">
  <h5>Upload your service description files here (TOSCA, Docker-Compose <i class="fab fa-docker"></i>)</h5>
</div>

<form class="form-inline">
  <div class="form-group">
    <input type="file" class="form-control-file" id="formControlFile">
  </div>
  <button class="btn btn-outline-secondary" type="submit">Upload</button>
</form>

<div class="row mt-5 mb-5">
  <h5>Select security enrichments & deploy your services</h5>
</div>
<!-- <div class="row">
  <p>Click to edit</p>
</div> -->

{% if service_list %}
<div class="table-responsive">
  <p>Click table entry for security enrichment and service deployment</<p>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>File</th>
        <th>Modified</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for service in service_list %}
      <tr class='clickable-row' data-href="{% url 'dashboard:security' service.id %}">
        <td>{{ service.id }}</td>
        <td>{{ service.service_name}}</td>
        <td>{{ service.service_file}}</td>
        <td>{{ service.last_modified}}</td>
        <td>{{ service.owner}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}

{% block customjs %}
<script>
(function () {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
}())
</script>
{% endblock %}
