{% extends "dashboard/_dashboard.html" %}
{% load static %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Security enrichment & service deployment</h2>
</div>
<div class="row">
  <h2 class="col">Namespace: {{ service.service_name }}</h2>
  <!-- <h2 class="col">Security policies</h2> -->
</div>
<!-- <div class="row">
  <p><i class="fas fa-info-circle"></i> Apply policies before configuration</p>
</div> -->
<div class="row">
  <div class="col" id="mynetwork" style='height:400px'>
  </div>
  <div class="col ml-5 mt-5 mb-5">
    <form action="{% url 'dashboard:service' service.id %}" method="post">
      {% csrf_token %}
      <!-- {% if all_edges %}
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#connections"><i
          class="fas fa-angle-down"></i> Allow connections
      </h6>
      <div id="connections" class="collapse">
        {% for edge in all_edges %}
        <div class="custom-control custom-switch">
          {% if edge.id in allowed_connections %}
          <input type="checkbox" class="custom-control-input" id="{{ edge.id | slugify }}"
            value="{{ edge.id | slugify }}" name="{{ edge.id | slugify }}"
            onclick="toggleEdge('{{ edge.id }}', '{{ edge.from }}', '{{ edge.to }}');" checked>
          {% else %}
          <input type="checkbox" class="custom-control-input" id="{{ edge.id | slugify }}"
            value="{{ edge.id | slugify }}" name="{{ edge.id | slugify }}"
            onclick="toggleEdge('{{ edge.id }}', '{{ edge.from }}', '{{ edge.to }}');">
          {% endif %}
          <label class="custom-control-label" for="{{ edge.id | slugify }}">{{ edge.from }} to {{ edge.to }}</label>
        </div>
        {% endfor %}
      </div>
      {% endif %} -->
      <p></p>
      {% if basic_policies %}
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#basic"><i
          class="fas fa-angle-down"></i> Basic policies</h6>
      <div id="basic" class="collapse show">
        {% for policy in basic_policies %}
        <div class="custom-control custom-switch">
          {% if policy.policy_id in service_policies %}
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" value="{{ policy.policy_id }}"
            name="{{ policy.policy_id }}" checked>
          {% else %}
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" value="{{ policy.policy_id }}"
            name="{{ policy.policy_id }}">
          {% endif %}
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top" title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ policy.policy_id }}Modal">configure ...</button>
          <div class="modal fade" id="{{ policy.policy_id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ policy.policy_id }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ policy.policy_id }}ModalLabel">{{ policy.policy_name }} configuration</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for="{{ policy.policy_id }}.CONFIG">Configuration</label>
                      <textarea class="form-control" id="{{ policy.policy_id }}.CONFIG" name="{{ policy.policy_id }}.CONFIG" rows="10">{% for key, value in service_configurations.items %}{% ifequal policy.policy_id key %}{{ value }}{% endifequal %}{% endfor %}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#pro"><i
          class="fas fa-angle-down"></i> Pro policies - get the
        Pro-SLA
        <i class="fas fa-tag"></i></h6>
      {% if pro_policies %}
      <div id="pro" class="collapse show">
        {% for policy in pro_policies %}
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" disabled>
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top" title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#unlimited"><i
          class="fas fa-angle-down"></i> Unlimited policies -
        get
        the Unlimited-SLA <i class="fas fa-tag"></i></h6>
      {% if unlimited_policies %}
      <div id="unlimited" class="collapse show">
        {% for policy in unlimited_policies %}
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" disabled>
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top" title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="mt-3">
        <button type="submit" class="btn btn-success">Apply policies</button>
      </div>
    </form>
  </div>
</div>
<div class="row mb-5">
  <div class="col-4">
    <form action="{% url 'dashboard:deploy' service.id %}" method="post">
      {% csrf_token %}
      <label for="orchestratorSelect">Choose service orchestrator</label>
      <select class="form-control mb-2" id="orchestratorSelect" name="orchestratorSelect">
        <option value="kubernetes">Kubernetes</option>
        <option value="maestro">Maestro</option>
      </select>
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="button submit" class="btn btn-danger">Deploy service</button>
    </form>
  </div>
</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript">
  var nodes, edges, network;

  function toJSON(obj) {
    return JSON.stringify(obj, null, 4);
  }

  function toggleEdge(id, from, to) {
    try {
      if (edges.getIds().includes(id)) {
        edges.remove({ id: id });
      } else {
        edges.add({
          "from": from, "to": to, "arrows": "to", "id": id,
          "color": { "color": "red" }
        });
      }
    }
    catch (err) {
      alert(err);
    }
  }
  function addEdge() {
    try {
      edges.add({
        id: document.getElementById('edge-id').value,
        from: document.getElementById('edge-from').value,
        to: document.getElementById('edge-to').value
      });
    }
    catch (err) {
      alert(err);
    }
  }
  function updateEdge() {
    try {
      edges.update({
        id: document.getElementById('edge-id').value,
        from: document.getElementById('edge-from').value,
        to: document.getElementById('edge-to').value
      });
    }
    catch (err) {
      alert(err);
    }
  }
  function removeEdge() {
    try {
      edges.remove({ id: document.getElementById('edge-id').value });
    }
    catch (err) {
      alert(err);
    }
  }

  {% autoescape off %}
  nodes = new vis.DataSet({{ nodes }});
  edges = new vis.DataSet({{ edges }});
  {% endautoescape %}

  // you can extend the options like a normal JSON variable:
  var options = {
    groups: {
      docker: {
        shape: 'image',
        image: "{% static 'dashboard/img/docker.png' %}"
      },
      k8_svc: {
        shape: 'image',
        image: "{% static 'dashboard/img/svc-256.png' %}",
      },
      k8_dep: {
        shape: 'image',
        image: "{% static 'dashboard/img/deploy-256.png' %}",
      },
      k8_sts: {
        shape: 'image',
        image: "{% static 'dashboard/img/sts-256.png' %}",
      },      
      k8_pod: {
        shape: 'image',
        image: "{% static 'dashboard/img/pod-256.png' %}",
      },
      public: {
        shape: 'icon',
        icon: {
          face: "'Font Awesome 5 Free'",
          weight: "bold", // Font Awesome 5 doesn't work properly unless bold.
          code: '\uf0c2',
          size: 50,
          color: '#326ce5'
        }
      }
    },
    edges: {
      smooth: {
        type: "cubicBezier",
        forceDirection: "none",
        roundness: 0.3,
      }
    }
  };
  var data = {
    nodes: nodes,
    edges: edges
  };
  var container = document.getElementById('mynetwork');
  // create a network
  var network = new vis.Network(container, data, options);

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}