{% extends "dashboard/_dashboard.html" %}
{% load static %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Security enrichment & service deployment</h2>
</div>
<div class="row">
  <h2 class="col">Namespace: {{ service.service_name }}</h2>
  <!-- <h2 class="col">Security policies</h2> -->
</div>
<!-- <div class="row">
  <p><i class="fas fa-info-circle"></i> Apply policies before configuration</p>
</div> -->
<div class="row">
  <div class="col" id="mynetwork" style='height:400px'>
  </div>
  <div class="col ml-5 mt-5 mb-5">
    <form action="{% url 'dashboard:service' service.id %}" method="post">
      {% csrf_token %}
      <p></p>
      {% if basic_policies %}
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#basic"><i
          class="fas fa-angle-down"></i> Basic services/pipelines</h6>
      <div id="basic" class="collapse show">
        {% for policy in basic_policies %}
        <div class="custom-control custom-switch">
          {% if policy.policy_id in service_policies %}
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" value="{{ policy.policy_id }}"
            name="{{ policy.policy_id }}" checked>
          {% else %}
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" value="{{ policy.policy_id }}"
            name="{{ policy.policy_id }}">
          {% endif %}
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top"
            title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        <div>
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <button style="margin-left: -10px;" type="button" class="btn btn-link" data-toggle="modal"
            data-target="#{{ policy.policy_id }}Modal">configure ...</button>
          <i class="fa fa-edit" aria-hidden="true"></i><a href="{% url 'dashboard:editor' service.id %}"
            style="margin-left: -10px;" class="btn btn-link" role="button">edit ...</a>
          <div class="modal fade" id="{{ policy.policy_id }}Modal" tabindex="-1" role="dialog"
            aria-labelledby="{{ policy.policy_id }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ policy.policy_id }}ModalLabel">{{ policy.policy_name }} configuration
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="{{ policy.policy_id }}.CONFIG">Configuration</label>
                    <textarea class="form-control" id="{{ policy.policy_id }}.CONFIG"
                      name="{{ policy.policy_id }}.CONFIG"
                      rows="10">{% for key, value in service_configurations.items %}{% ifequal policy.policy_id key %}{{ value }}{% endifequal %}{% endfor %}</textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#pro"><i
          class="fas fa-angle-down"></i> Pro services/pipelines - get the
        Pro-SLA
        <i class="fas fa-tag"></i>
      </h6>
      {% if pro_policies %}
      <div id="pro" class="collapse show">
        {% for policy in pro_policies %}
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" disabled>
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top"
            title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#unlimited"><i
          class="fas fa-angle-down"></i> Unlimited services/pipelines -
        get
        the Unlimited-SLA <i class="fas fa-tag"></i></h6>
      {% if unlimited_policies %}
      <div id="unlimited" class="collapse show">
        {% for policy in unlimited_policies %}
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" disabled>
          <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top"
            title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      <h6 class="row btn text-muted" type="button" data-toggle="collapse" data-target="#custom"><i
          class="fas fa-angle-down"></i> Custom services/pipelines</h6>
      {% if custom_policies %}
      <div id="custom" class="collapse show">
        {% for policy in custom_policies %}
        <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="{{ policy.policy_id }}" value="{{ policy.policy_id }}"
          name="{{ policy.policy_id }}" checked>
        <label class="custom-control-label" for="{{ policy.policy_id }}" data-toggle="tooltip" data-placement="top"
          title="{{ policy.policy_description }}">{{ policy.policy_name }}</label>
        </div>
        <div>
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <button style="margin-left: -10px;" type="button" class="btn btn-link" data-toggle="modal"
            data-target="#{{ policy.policy_id }}Modal">configure ...</button>
          <i class="fa fa-edit" aria-hidden="true"></i><a href="{% url 'dashboard:editor' service.id %}"
            style="margin-left: -10px;" class="btn btn-link" role="button">edit ...</a>
            <div class="modal fade" id="{{ policy.policy_id }}Modal" tabindex="-1" role="dialog"
            aria-labelledby="{{ policy.policy_id }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ policy.policy_id }}ModalLabel">{{ policy.policy_name }} configuration
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="{{ policy.policy_id }}.CONFIG">Configuration</label>
                    <textarea class="form-control" id="{{ policy.policy_id }}.CONFIG"
                      name="{{ policy.policy_id }}.CONFIG"
                      rows="10">{% for key, value in service_configurations.items %}{% ifequal policy.policy_id key %}{{ value }}{% endifequal %}{% endfor %}</textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
  <div class="mt-3">
    <button type="submit" class="btn btn-success">Apply security services</button>
    <a href="{% url 'dashboard:editor' service.id %}" class="btn btn-warning" role="button">Add security services</a>
  </div>
  </form>
</div>
</div>
<div class="row mb-5">
  <div class="col-4">
    <form action="{% url 'dashboard:deploy' service.id %}" method="post">
      {% csrf_token %}
      <label for="orchestratorSelect">Choose orchestrator</label>
      <select class="form-control mb-2" id="orchestratorSelect" name="orchestratorSelect">
        <option value="kubernetes">Kubernetes</option>
        <option value="maestro">Maestro</option>
      </select>
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="button submit" class="btn btn-danger">Deploy graph</button>
    </form>
  </div>
</div>
<div class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="nodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nodeModalLabel">resource</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Namespace: {{ service.service_name }}</p>
        <p id="nodeLabels"></p>
        <p id="kubernetesData"></p>
        <p id="nodeStatus"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript">
  var nodes, edges, network, namespace;

  function toJSON(obj) {
    return JSON.stringify(obj, null, 4);
  }

  function toggleEdge(id, from, to) {
    try {
      if (edges.getIds().includes(id)) {
        edges.remove({ id: id });
      } else {
        edges.add({
          "from": from, "to": to, "arrows": "to", "id": id,
          "color": { "color": "red" }
        });
      }
    }
    catch (err) {
      alert(err);
    }
  }
  function addEdge() {
    try {
      edges.add({
        id: document.getElementById('edge-id').value,
        from: document.getElementById('edge-from').value,
        to: document.getElementById('edge-to').value
      });
    }
    catch (err) {
      alert(err);
    }
  }
  function updateEdge() {
    try {
      edges.update({
        id: document.getElementById('edge-id').value,
        from: document.getElementById('edge-from').value,
        to: document.getElementById('edge-to').value
      });
    }
    catch (err) {
      alert(err);
    }
  }
  function removeEdge() {
    try {
      edges.remove({ id: document.getElementById('edge-id').value });
    }
    catch (err) {
      alert(err);
    }
  }

  {% autoescape off %}
  nodes = new vis.DataSet({{ nodes }});
  edges = new vis.DataSet({{ edges }});
  {% endautoescape %}

  // you can extend the options like a normal JSON variable:
  var options = {
    groups: {
      docker: {
        shape: 'image',
        image: "{% static 'dashboard/img/docker.png' %}"
      },
      k8_svc: {
        shape: 'image',
        image: "{% static 'dashboard/img/svc-256.png' %}",
      },
      k8_dep: {
        shape: 'image',
        image: "{% static 'dashboard/img/deploy-256.png' %}",
      },
      k8_sts: {
        shape: 'image',
        image: "{% static 'dashboard/img/sts-256.png' %}",
      },
      k8_pod: {
        shape: 'image',
        image: "{% static 'dashboard/img/pod-256.png' %}",
      },
      public: {
        shape: 'icon',
        icon: {
          face: "'Font Awesome 5 Free'",
          weight: "bold", // Font Awesome 5 doesn't work properly unless bold.
          code: '\uf0c2',
          size: 50,
          color: '#326ce5'
        }
      }
    },
    edges: {
      smooth: {
        type: "cubicBezier",
        forceDirection: "none",
        roundness: 0.3,
      }
    }
  };
  var data = {
    nodes: nodes,
    edges: edges
  };
  var container = document.getElementById('mynetwork');
  // create a network
  var network = new vis.Network(container, data, options);
  network.on('click', function (properties) {
    var ids = properties.nodes;
    var clickedNodes = nodes.get(ids);
    //alert('clicked nodes:', clickedNodes);
    console.log('clicked nodes:', clickedNodes);
    $("#nodeModalLabel").text(clickedNodes[0]["label"]);
    var labels = clickedNodes[0]["labels"];
    // var labels_enc = encodeURIComponent(labels);
    // $("#nodeLabels").text(JSON.stringify(labels));
    // var namespace = "{{ service.service_name }}";
    // var url_mask = "url 'dashboard:k8resource' service.service_name labels".replace(/labels/, labels_enc.toString());
    $.ajax({
      url: "{% url 'dashboard:k8resource' %}",
      data: { namespace: "{{ service.service_name }}", labels: JSON.stringify(labels) }
    }).then(function (data) {
      console.log(data);
      var obj = JSON.parse(data);
      document.getElementById("kubernetesData").innerHTML =
        "Host IP: " + obj.host_ip + "<br>" +
        "Pod IP: " + obj.pod_ip + "<br>" +
        "Phase: " + obj.phase + "<br>" +
        "Start time: " + obj.start_time + "<br>";
      for (var i = 0; i < obj.containers.length; i++) {
        document.getElementById("kubernetesData").innerHTML +=
          "Container: " + obj.containers[i].name + "<br>" +
          "Ready: " + obj.containers[i].ready + "<br>"
      }
      // for (var i = 0; i < obj.length; i++) {
      //   var div = document.createElement("div");
      //   div.innerHTML = 'Host IP: ' + obj[i].firstName + ' ' + data[i].lastName;
      //   mainContainer.appendChild(div);
      // }

      // $('#nodeStatus').text(JSON.stringify(data));
    });
    $("#nodeModal").modal();
    // $('#my_modal').on('show.bs.modal', function(e) {

    //   //get data-id attribute of the clicked element
    //   var nodeId = nodes.get(ids);

    //   //populate the textbox
    //   $(e.currentTarget).find('input[name="nodeId"]').val(nodeId);
    //   });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}