{% extends "dashboard/_dashboard.html" %}
{% load static %}

{% block main %}
<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"> -->
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Welcome!</h1>
<p class="lead">What you can do</p>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <a href="{% url 'dashboard:services' %}">
      <img src="{% static 'dashboard/img/cloud-upload-alt-solid.svg' %}" class="card-img-top mt-3" alt="" style="height:60px">
      </a>
      <div class="card-body">
        <h5 class="card-title">Upload service description</h5>
        <p class="card-text">Upload your service description file</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card">
      <a href="{% url 'dashboard:services' %}">
      <img src="{% static 'dashboard/img/bezier-curve-solid.svg' %}" class="card-img-top mt-3" alt="" style="height:60px">
      </a>
      <div class="card-body">
        <h5 class="card-title">Apply security enrichment</h5>
        <p class="card-text">Select security enrichments according to your SLA</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card">
      <a href="{% url 'dashboard:services' %}">
      <img src="{% static 'dashboard/img/cogs-solid.svg' %}" class="card-img-top mt-3" alt="" style="height:60px">
      </a>
      <div class="card-body">
        <h5 class="card-title">Deploy secured service</h5>
        <p class="card-text">Deploy your secured service with supported service orchestrators</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card">
      <a href="{% url 'dashboard:monitoring' %}">
      <img src="{% static 'dashboard/img/chart-bar-solid.svg' %}" class="card-img-top mt-3" alt="" style="height:60px">
      </a>
      <div class="card-body">
        <h5 class="card-title">Monitor service</h5>
        <p class="card-text">Monitoring, alerting, trending (MAT), analytics of your secured services</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
